body {
  background: rgb(255, 178, 178);
  background: linear-gradient(
    0deg,
    rgba(255, 178, 178, 1) 0%,
    rgba(255, 0, 0, 1) 100%
  );
  min-height: 100vh;
}
.link {
  color: black;
  margin-right: 10px;
  text-decoration: none;
}

.w-100 {
  width: 100% !important;
}
.text-center {
  text-align: center;
}
.btn-primary {
  padding: 5px 20px;
  background: red;
  border-radius: 5px;
  border-color: red;
  color: white;
  cursor: pointer;
}
.headerCard {
  transition: 200ms;
}
.headerCard:hover {
  background: red;
  color: #fff;
  transition: 200ms;
  cursor: pointer;
}
